* {
	box-sizing: border-box;
}
strong {
	font-weight: 5px;
}

h1 {
	font-weight: bold;
	text-align: left;
	margin: 15px;
}

nav ul {
	width: 100%;
}

section div {
	background-color: #abbbbb
}

a:hover { 
    background-color: white;
    text-decoration: none;
    color: white;
}
a:visited {
    text-decoration: none;
  }

/* Nav menu */

.menu {
	float: right;
	margin: 10px;
	border: 1px;
	box-shadow: #000000;
}

.selected { 
	color: white;
}

.h2margin {
	margin: 10px;
	padding: 10px;
}

.floatright {
	float: right;
}
.row {
  width: 100%;
  margin: 0;
  padding: 15px;
}
.containerz
{
    background-color: lightgrey;
    border: 1px solid black;
    position: relative;
    min-height: 200px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 20px;
    padding-top: 35px;
    overflow: auto;
}